In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [3]:
train_data = pd.read_csv('data/train.csv')
test_data = pd.read_csv('data/test.csv')

In [4]:
train_data.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [5]:
train_data = train_data.drop(columns=['PassengerId', 'HomePlanet', 'CryoSleep','Cabin', 'Destination', 'VIP', 'Name', 'Spa', 'VRDeck'])
train_data = train_data.dropna()

test_data = test_data.drop(columns=['PassengerId', 'HomePlanet', 'CryoSleep','Cabin', 'Destination', 'VIP', 'Name','Spa', 'VRDeck'])
test_data = test_data.dropna()

In [6]:
train_data.head()

    Age  RoomService  FoodCourt  ShoppingMall  Transported
0  39.0          0.0        0.0           0.0        False
1  24.0        109.0        9.0          25.0         True
2  58.0         43.0     3576.0           0.0        False
3  33.0          0.0     1283.0         371.0        False
4  16.0        303.0       70.0         151.0         True

In [7]:
X = train_data.drop(['Transported'], axis=1)
y = train_data['Transported']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [8]:
clf = DecisionTreeClassifier()

clf.fit(X_train.values, y_train)

y_pred = clf.predict(X_test.values)

predict on test

In [9]:
predict_test = clf.predict(test_data.values)

In [10]:
clf.predict([[39.0, 0.0, 0.0, 0.0]])[0]

True

In [11]:
# Évaluer la performance du modèle en utilisant la précision
accuracy = accuracy_score(y_test, y_pred)
print('Accuracy:', accuracy)

Accuracy: 0.6802763819095478

In [12]:
import pickle

with open('model1.pkl', 'wb') as file:
    pickle.dump(clf, file)